arcade==2.5.1
attrs==19.3.0
cffi==1.14.4
future==0.18.2
numpy==1.19.2
packaging==20.8
Pillow==8.1.1
pip-review==1.1.0
pkg-resources==0.0.0
pycparser==2.20
pyglet==1.5.13
pyglet-ffmpeg2==0.1.17
pymunk==5.7.0
pyparsing==2.4.7
pytiled-parser==0.9.4a3
PyYAML==5.3.1
Shapely==1.7.1
