arcade==2.6.17
attrs==24.2.0
cffi==1.17.1
numpy==1.26.4
Pillow==9.3.0
pip==23.2.1
pycparser==2.22
pyglet==2.0.dev23
pymunk==6.4.0
pytiled-parser==2.2.0
setuptools==68.2.0
typing_extensions==4.12.2
wheel==0.41.2
